<h1>{{title}}</h1>

<form #basicForm="ngForm" (ngSubmit)="getData(basicForm.value)">
  <input #name="ngModel" name="user" ngModel pattern="[a-zA-Z]+$" placeholder="Enter user name" required type="text"/>
  <br/>
  <span *ngIf="name.invalid && name.touched" style="color:#ff0000">Please enter a valid input!</span>
  <br/><br/>
  <input #email="ngModel" email name="email" ngModel placeholder="Enter user email" required type="text"/>
  <br/>
  <span *ngIf="email.invalid && email.touched" style="color: #ff0000">Please enter a valid input!</span>
  <br/>
  <br/>
  <input #password="ngModel" name="password" ngModel placeholder="Enter user password" required type="password"/>
  <br/>
  <span *ngIf="password.invalid && password.touched" style="color: #ff0000">Please enter a valid input!</span>
  <br/>
  <br/>
  <button [disabled]="basicForm.invalid">Register</button>
</form>
<!--<button (click)="getData(basicForm.value)">Register</button>-->

