<h1>Hello World</h1>
<h2>{{title}}</h2>
<h2>{{name}}</h2>
<h2>{{getName()}}</h2>
<h2>{{obj.age}}</h2>
<h2>{{arr[0]}}</h2>
<app-login></app-login>

<button (click)="myEvent('click event')">Click Me</button>
<br>
<br>
<input type="text" #box1 (keyup.space)="myEvent(box1.value)"/>
<br>
<br>
<input type="text" #box2  (blur)="myEvent(box2.value)"/>
<br>
<br>
<input type="text" #box3 (keyup.enter)="myEvent(box3.value)" (blur)="myEvent(box3.value)"/>
<h1
  (mouseover)="myEvent('mouse over event')"
  style="background-color: #bda100"
>
  Mouse Over Event
</h1>

<h1
  (mouseleave)="myEvent('mouse leave event')"
  style="background-color: #970000"
>
  Mouse Leave Event
</h1>

<input type="text" (keyup)="getValue($event.target)">
<h1>{{value}}</h1>

<button (click)="getEvent('minus')">--</button>
<p>Count : {{count}}</p>
<button (click)="getEvent('add')">++</button>
<div [ngSwitch]="color">
  <h1 *ngSwitchCase="'red'" style="color: #970000">Red Color</h1>
  <h1 *ngSwitchCase="'blue'" style="color: #0033ff">Blue Color</h1>
  <h1 *ngSwitchDefault>Unknown Color</h1>
</div>
<h2 *ngFor="let item of users">Name is {{item}}</h2>
<h1 *ngFor="let item of userDetails">{{userDetails.indexOf(item) + 1}}. He name is {{item.name}}. He was born in {{item.year}}</h1>
<h1>Nested List</h1>
<ul *ngFor="let user of usersList">
  <li>{{user.name}}</li>
  <li>{{user.phone}}</li>
  <li>{{user.email}}</li>
<!--  <li>{{user.account}}</li>-->
  <ul *ngFor="let account of user.account">
    <li>{{account}}</li>
  </ul>
</ul>
